/* General Structure stuff*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: left;
    }

body{
    background-color: #04046c;
    padding-top: 15vh; 
}

.form_container{
    width: 600px;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 0 10px 0 #000;
}

/*controls image size*/
img.resize {
    max-width:300px;
    max-height:175px;
  }


/*user entry boxes */
.test{
    background-color: orange;
}

.hasError{
    background-color: yellow;
}

.errorMessage{
    color:red;
    text-align: center;
}

.invisible{
    display: none;
}

.requiredEntry{
    border:none; 
    border-radius: 10px;
    padding: 7px 0px;
    text-align: center; 
    box-shadow: 0 0 3px 0 red;
}

.requiredEntry:hover{
    box-shadow: 0 0 10px 0 red;
}

.requiredEntry:focus{
    box-shadow: 0 0 6px 0 red;
}

.entrybox{
    border:none; 
    border-radius: 10px;
    padding: 7px 0px;
    text-align: center; 
    box-shadow: 0 0 3px 0 #000;
}

.entrybox:hover{
    box-shadow: 0 0 10px 0 #000;
}

.entrybox:focus{
    box-shadow: 0 0 6px 0 #000;
}

.centertext{
    display: table-cell;
    vertical-align: center;
    line-height: 2.5em;
}



/*sign in and reset*/
ul.list{
    list-style-type: none;
    text-align: center;
}

ul.list li{
    width: 250px;
    margin-bottom: 12px;
}

ul.list li input{
    width: 250px;
    text-align: center;
    padding: 7px 0px;
    border: none;
    border-radius: 10px;
}

.submit-button{
    background-color: #aeaefc;
    color: black;
    width: 25%;
}

.center_btns {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.btn-container {
    width: auto;
    position: relative;
    right: 35px;
    left: -40px;
}


/*IDs for buttons*/

.span_header{
    font-size: 50px;
}

#menu ul{
    list-style: none;
    display: inline;
    white-space: nowrap;
  }

#menu li{
    display: inline;
}
