.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: left;
    }

body{
    background-color: #04046c;
    padding-top: 25vh; 
}

.form_container{
    width: 390px;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 0 10px 0 #000;
    }

.LoginHeading{
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 38px;
}

ul.list{
    list-style-type: none;
    text-align: center;
}

ul.list li{
    width: 250px;
    margin-bottom: 12px;
}

ul.list li input{
    width: 250px;
    text-align: center;
    padding: 7px 0px;
    border: none;
    border-radius: 10px;
}

.submit-button{
    background-color: #aeaefc;
    color: black;
    width: 25%;
}

.center_btns {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button2{
    color: red;
    text-decoration: underline;
    text-align: left;
    background-color: white;
}

.signupbutton {
    color: blue;
    text-decoration: underline;
    text-align: left;
    background-color: white;
}

.input{
    box-shadow: 0 0 3px 0 #000;
    border-radius: 10px;
}

.btn-container {
    width: auto;
    position: relative;
    right: 21px;
}

#menu ul{
    list-style: none;
    display: inline;
    white-space: nowrap;
  }

#menu li{
    display: inline;
}

